@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

:root {
    --white1: #fff;
    --white2: #fef9f9;
    --white3: #eee;
    --gray1: #888;
    --gray2: #999;
    --gray3: #ccc;
    --black1: #112;
    --black2: #223;
    --black3: #334;
    --green1: #020;
    --green2: #141;
    --green3: #493;
    --orange1: #f80;
}

html,
body,
div,
nav,
form,
ul,
li,
a,
p,
h1,
h2,
h3,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Source Sans Pro';
}

body {
    background: var(--white3) url("images/bg01.png");
}

p,
a {
    font-size: 30pt;
    text-align: justify;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
}

ul {
    list-style: none;
}

a {
    transition: color 0.2s ease-in-out;
    color: var(--green3);
    text-decoration: none;
}

a:hover {
    color: var(--orange1);
}

.page-margins {
    margin-left: 1.5in;
    margin-right: 1.5in;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    cursor: zoom-in;
}

.button {
    appearance: none;
    padding: 0.7em 2em 0.7em 2em;
    border-radius: 10px;
    color: var(--white1);
    background-color: var(--gray2);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/bg01.png"), url("images/bg02.png"), url("images/bg03.png");
    font-weight: 600;
    box-shadow: 0.5em 0.3em 0.5em 0 rgba(0, 0, 0, 0.3);
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button:active {
    cursor: grabbing;
    opacity: 0.4;
}

/* navigation */
nav {
    background-image: url("../../images/header.jpg");
    background-position: center;
    background-size: cover;
    color: var(--white3);
    display: flex;
    justify-content: center;
}

nav>ul>li {
    display: inline-flex;
}

nav>ul>li a {
    color: var(--white1);
    font-size: large;
    padding: 2em 1em 2em 1em;
}

nav>ul>li.current {
    background-color: rgb(255, 255, 255, 0.1);
    font-weight: 600;
}

.dropotron {
    background-color: var(--green2);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("images/bg01.png"), url("images/bg02.png"), url("images/bg03.png");
    border-radius: 0.3em;
    min-width: 10em;
    text-align: center;
    box-shadow: 0.5em 0.3em 0.5em 0 rgba(0, 0, 0, 0.3);
}

.dropotron>li>a {
    color: var(--white1);
    font-size: inherit;
    padding: 0.7em;
}

.dropotron>li:hover>a {
    color: var(--orange1);
    background-color: rgb(255, 255, 255, 0.1);
}

/* dark mode */
#dark {
    position: absolute;
    right: 2em;
    top: 8em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray3);
    background-image: url("images/sun.png"), url("images/moon.png");
    background-size: auto 60%, auto 60%;
    background-repeat: no-repeat, no-repeat;
    background-position: 15% center, 85% center;
    opacity: 0.8;
    transition: .4s;
    box-shadow: 0.5em 0.3em 0.5em 0 rgba(0, 0, 0, 0.3);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white1);
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--gray1);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* container */
.container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    background-color: rgba(0, 0, 0, 0);
    color: var(--black3)
}

.left-half {
    width: 47%;
    padding-right: 3%;
}

.right-half {
    padding-left: 3%;
    width: 47%;
}

.left-half a {
    width: inherit;
    height: 100%;
    object-fit: cover;
}

.left-third {
    padding-left: 2%;
    width: 20%;
}

/* bio */
#bio h1 {
    padding: 0.3em 0 0.3em 0;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: rgba(0, 0, 0, 0);
    color: var(--black3)
}

.footer h3 {
    color: inherit;
    padding-bottom: 0.3em;
}

.links {
    display: flex;
}

.links a {
    color: var(--gray1);
    line-height: 1.7em;
}

.links a:hover {
    color: var(--orange1)
}

input[type="submit"] {
    float: right;
    margin-top: 0.5em;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    color: var(--black3);
    background-color: var(--white1);
    border: solid 1px var(--gray3);
    border-radius: 5px;
    outline: 0;
    width: 100%;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    line-height: 2em;
}

/* banner */
.banner {
    color: var(--white3);
    background-color: var(--green2);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("images/bg01.png"), url("images/bg02.png"), url("images/bg03.png");
    display: flex;
    justify-content: center;
    margin: 3em -3in 0 -3in;
    padding: 3em 0 3em 0;
    height: 30pt;
    line-height: 30pt;
    box-shadow: 0.5em 0.3em 0.5em 0 rgba(0, 0, 0, 0.3);
}

.banner .button {
    color: var(--black3);
    background-color: var(--white1);
    margin: 0 0 0 4%;
    font-size: 20pt;
    padding: 0 1em 0 1em;
}

/* title bar */
#titleBar {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    color: var(--white1);
    background-color: var(--green2);
}

#titleBar h2{
    line-height: 50px;
    height: 50px;
    /* border: 3px solid green; */
    /* text-align: center;
    display: inline-block;
    vertical-align: middle; */
}

#titleBar .toggle {
    background-color: red;
    position: absolute;
    width: 80px;
    height: 80px;
}

/* #titleBar .toggle:before {
    position: absolute;
} */

/* screen width < 1080 */
@media screen and (max-width: 1080px) {
    .page-margins {
        margin-left: 1in;
        margin-right: 1in;
    }
}

/* screen width < 860 */
@media screen and (max-width: 860px) {
    .page-margins {
        margin-left: 0.5in;
        margin-right: 0.5in;
    }

    nav>ul>li a {
        padding: 1em 0.5em 1em 0.5em;
    }
}

/* screen width < 736 */
@media screen and (max-width: 736px) {
    nav {
        display: none;
    }

    #titleBar {
        display: flex;
    }

    .page-margins {
        margin-top: 1in;
    }
}